*{
  margin: 0px;
  padding: 0px;
}

.container{
  background-image: url(./image/image1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.h1{
  color: aliceblue;
  text-align: center;
  font-size: 50px;
}
.inputbox{
  height: 45px;
  width: 400px;
  font-size: 30px;
  border-radius: 20px;
  display: block;
  margin: 20px auto;
  padding: 5px 10px;
}
.p{
  color: aliceblue;
  font-size: 50px;
  margin-left: 60px;
}
.pa{
  color: gold;
  font-size: 90px;
  margin-left: 60px;
}